@charset "UTF-8";

:root {
  --red-light: #ff7875;
  --red: #eb5757;
  --gray-light: #999999;
  --gray: #666666;
  --dark-light: rgba(100, 100, 100, 0.2);
  --dark: #333333;
  --white-light: #cccccc;
  --white: #eeeeee;
  --background-light: #fefefe;
  --background-dark: #333333;
  --code-background-light: rgba(236, 236, 236, 0.5);
  --code-background-dark: rgba(0, 0, 0, 0.3);
  --font: Fira Code, Fira Mono, Menlo, Consolas, DejaVu Sans Mono, monospace;
}

.main {
  max-width: 800px;
  margin: 80px auto 0;
  padding-bottom: 80px;
}

/* 顶部导航 */

.site-nav-container {
  display: flex;
  flex-flow: row-reverse;
}

.site-nav {
  display: flex;
}

.site-nav a {
  margin-left: 20px;
}

/* 主页 */

.home .section {
  margin-top: 30px;
}

.home .title {
  margin: 0;
}

.home .summary {
  margin: 20px 0;
  line-height: 1.8em;
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.home .footer {
  padding-bottom: 30px;
}

.home .meta {
  display: flex;
  font-size: 13px;
  margin-top: 20px;
  color: var(--gray-light);
}

.home .field {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.home .field a {
  margin-top: -1px;
  margin-right: 5px;
  color: var(--gray-light);
}

.home .pagination {
  margin: 30px 0 50px;
  position: relative;
}

.home .prev {
  left: 0;
  position: absolute;
}

.home .next {
  right: 0;
  position: absolute;
}

.home .pagination a {
  display: inline-flex;
  font-size: 14px;
  align-items: center;
}

/* 归档 */

.posts .container {
  width: 720px;
  margin: 0 auto;
}

.posts .year {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 30px 0 10px;
}

.posts .list {
  padding: 0;
  margin-top: 20px;
  line-height: 1.8;
}

.posts .item {
  display: flex;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.posts .item .date {
  opacity: 0.3;
  font-size: 14px;
  width: 80px;
  text-align: right;
  display: inline-block;
  font-family: var(--font);
}

/* 日记 */

.diary-summary {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
  color: gray;
}

/* 标签 */

.tags {
  margin-top: 30px;
  text-align: center;
}

.tags ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tags li {
  flex: 46%;
  text-align: left;
  margin: 10px 10px 10px 0;
  display: inline-block;
}

.tags .count {
  top: -6px;
  font-size: 12px;
  position: relative;
  color: var(--gray-light);
}

/* 文章 */

.single a {
  color: var(--red);
}

.single {
  position: relative;
  margin-top: 30px;
}

.single .meta {
  font-size: 13px;
  margin-bottom: 15px;
}

.single .toc {
  padding: 10px;
  margin-top: 15px;
}

.single .toc code {
  font-family: inherit;;
}

.single .toc summary {
  cursor: pointer;
}

.single #TableOfContents {
  padding: 15px 0 10px;
}

.single #TableOfContents ul {
  list-style: none;
}

.single #TableOfContents > ul {
  padding-left: 20px;
}

.single #TableOfContents li {
  line-height: 1.5;
}

.single #TableOfContents li ul {
  padding-left: 2em;
}

.single .footer {
  margin-top: 15px;
}

.single .labels {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--gray-light);
}

.single .label-item {
  display: flex;
  align-items: center;
}

.single .label-item a {
  margin-right: 10px;
  display: flex;
  font-size: 14px;
  align-items: center;
}

.markdown {
  line-height: 1.8em;
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 20px 0;
}

.home code,
.markdown code {
  font-size: 14px;
  padding: 3px 5px;
  white-space: nowrap;
  font-family: var(--font);
}

.markdown h2 code {
  font-size: inherit;
}

.markdown pre {
  overflow: auto;
  padding: 15px 18px;
}

.markdown pre code {
  padding: 0;
  overflow: auto;
  white-space: pre;
  background-color: transparent;
}

.markdown blockquote {
  margin: 15px 0;
  padding: 0.1px 15px;
}

.markdown blockquote p {
  margin: 0;
}

.markdown strong,
.markdown b,
.markdown em {
  padding: 1px 2px;
  font-weight: normal;
}

.markdown img {
  width: 100%;
  height: auto;
  margin-top: 13px;
}

/* 404 */

.not-found {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .not-found svg {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main {
    margin: 50px auto 0;
    padding-bottom: 50px;
  }

  .content {
    margin: 0px 15px;
  }

  .site-nav-container {
    margin: 0 15px;
    flex-direction: row;
  }

  .site-nav a {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 1500px) {
  .single .toc-icon {
    display: block;
  }
}