{{ partial "head.html" . }}

<body>
    <div class="main">
        {{ partial "nav.html" . }}
        <div class="content">
            <div class="posts">
                {{ range .Data.Pages.GroupByDate "2006" }}
                <div class="year">{{ .Key }}</div>
                <div class="list">
                    {{ range .Pages }}
                    <div class="item">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <span class="date">{{ .Date.Format "01-02" }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>

</html>