{{ partial "head.html" . }}

<body>
    <div class="main">
        {{ partial "nav.html" . }}
        <div class="content">
            <div class="single">
                <h1 class="title">{{ .Title }}</h1>
                <div class="date">Updated&nbsp;on&nbsp;{{ .Lastmod.Format "2006.01.02" }}</div>

                {{ if ne .TableOfContents  "<nav id=\"TableOfContents\"></nav>" }}
                    <details open class="toc">
                        <summary>Table of Contents</summary>
                        {{ .TableOfContents  }}
                    </details>
                {{ end }}

                <div class="markdown">
                    {{ .Content }}
                </div>

                <div class="footer">
                    {{ with .Params.tags }}
                    <div class="meta">
                        <span class="field">
                            {{ range . }}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" style="fill: #999; margin-right: 3px;">
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path d="M7.784 14l.42-4H4V8h4.415l.525-5h2.011l-.525 5h3.989l.525-5h2.011l-.525 5H20v2h-3.784l-.42 4H20v2h-4.415l-.525 5h-2.011l.525-5H9.585l-.525 5H7.049l.525-5H4v-2h3.784zm2.011 0h3.99l.42-4h-3.99l-.42 4z"/>
                            </svg>
                            <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                            {{ end }}
                        </span>
                    </div>
                    {{ end }}

                    <div class="divider"></div>

                    <div class="pagination">
                        {{ with .PrevInSection }}
                            <a class="pre" href="{{.Permalink}}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" style="fill: #999;">
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"/>
                                </svg>
                                <span>{{.Title}}</span>
                            </a>
                        {{ end }}
                        {{ with .NextInSection }}
                            <a class="next" href="{{.Permalink}}">
                                <span>{{.Title}}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" style="fill: #999;">
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/>
                                </svg>
                            </a>
                        {{ end }}
                    </div>

                    {{ template "_internal/disqus.html" . }}

                </div>
            </div>
        </div>
    </div>

    {{ partial "js.html" . }}
</body>

</html>