{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="single_page post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h1>{{ .Title }}</h1>
                        <div class="date">Updated&nbsp;on&nbsp;{{ .Lastmod.Format "2006.01.02" }}</div>
                    </div>
                    <div class="post_content markdown">
                        {{ .Content }}
                    </div>
                    <div class="post_footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-hashtag"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}

                        <div class="single_page_divider"></div>

                        <div class="single_page_pagination">
                            {{ with .PrevInSection }}
                                <a class="single_page_pagination_pre" href="{{.Permalink}}">
                                    <i class="ri-arrow-left-s-line"></i>
                                    <span class="prev_title">{{.Title}}</span>
                                    <span class="prev_text">Prev</span>
                                </a>
                            {{ end }}
                            {{ with .NextInSection }}
                                <a class="single_page_pagination_next" href="{{.Permalink}}">
                                    <span class="next_title">{{.Title}}</span>
                                    <span class="next_text">Next</span>
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            {{ end }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='share_card_container'>
        <div id='share_card_inner_container'>
            <h2 id='title'></h2>
            <p id='author'></p>
            <p id='summary'></p>
        </div>
        <div id='card_footer'>
            <img id='qrcode' src='' alt='qrcode' width='70' height='70'>
            <div id='extra'>
                <p id='site_title'>
                    <img src='{{ "images/favicon.png" | absURL }}' width='18' height='18'>
                    船长の部落格
                </p>
                <p id='tip'>扫描二维码阅读原文</p>
            </div>
        </div>
    </div>

    <a id="share_blog" class='share_blog'><i class="ri-share-forward-line"></i></a>
    <a id="back_to_top" class="back_to_top" href="#"><i class="ri-arrow-up-s-line"></i></a>

    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>