{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="single_page post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h2>{{ .Title }}</h2>
                        <div class="date">Updated&nbsp;on&nbsp;{{ .Lastmod.Format "2006.01.02" }}</div>
                    </div>
                    <div class="post_content markdown">
                        {{ .Content }}
                    </div>
                    <div class="post_footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-hashtag"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}

                        <div class="single_page_divider"></div>

                        <div class="single_page_pagination">
                            {{ with .PrevInSection }}
                                <a class="single_page_pagination_pre" href="{{.Permalink}}">
                                    <i class="ri-arrow-left-s-line"></i>
                                    <span class="prev_title">{{.Title}}</span>
                                    <span class="prev_text">Prev</span>
                                </a>
                            {{ end }}
                            {{ with .NextInSection }}
                                <a class="single_page_pagination_next" href="{{.Permalink}}">
                                    <span class="next_title">{{.Title}}</span>
                                    <span class="next_text">Next</span>
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            {{ end }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="back_to_top" href="#" class="back_to_top"><i class="ri-arrow-up-s-line"></i></a>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>