@charset "UTF-8";

@media (prefers-color-scheme: dark) {
  a {
    color: var(--white);
  }

  a:hover {
    color: var(--red) !important;
  }

  table th {
    background: var(--code-background-dark);
  }

  body {
    color: var(--white);
    background-color: var(--background-dark);
  }

  pre {
    background: var(--code-background-dark) !important;
  }

  .markdown code {
    background: var(--code-background-dark);
  }

  .single .toc {
    background-color: var(--code-background-dark);
  }

  .single .toc a {
    color: var(--white-light);
  }

  .single .date {
    color: var(--gray-light);
  }

  .single .field a,
  .single .pagination a {
    color: var(--white-light);
  }

  .single .divider {
    border-bottom: 1px solid var(--gray);
  }

  .home .summary {
    color: var(--white-light);
  }

  .home .pagination a {
    color: var(--white-light);
  }

  .posts .year {
    color: var(--white);
  }

  .markdown blockquote {
    color: var(--gray-light);
    border-left: 5px solid var(--gray);
  }

  .markdown strong,
  .markdown b,
  .markdown em {
    background-color: rgba(235, 87, 87, 0.3);
  }

  .not-found svg {
    fill: var(--gray);
  }
}