{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $paginator.Pages }}
<div class="home post animated fadeInDown">
    <div class="post_title">
        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
    </div>
    {{ if .Site.Params.enableSummary }}
    <div class="list">
        <div class="post_content markdown">
            <p>{{ .Summary }}...</p>
        </div>
    </div>
    {{ end }}
    <div class="post_footer">
        <div class="meta">
                <div class="field">
                    <i class="ri-time-line"></i>
                    <span class="date">{{ .Lastmod.Format "2006.01.02" }}</span>
                </div>
                {{ with .Params.tags }}
                <div class="field tags">
                    <i class="ri-hashtag"></i>
                    {{ range . }}
                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}
        </div>
    </div>
</div>
{{ end }}

<div class="pagination">
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    {{ if $paginator.HasPrev }}
    <a href="{{$paginator.Prev.URL}}" class="pre">
        <i class="ri-arrow-left-s-line"></i>
        Prev
    </a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a href="{{$paginator.Next.URL}}" class="next">
        Next
        <i class="ri-arrow-right-s-line"></i>
    </a>
    {{ end }}
    {{ end }}
</div>