{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content page404">
            <!-- <p>没有找到你要的文章，不如来读首诗吧~</p> -->
            <div class="poetry_container">
                <div class="poetry_title"></div>
                <div class="poetry_author"></div>
                <div class="poetry_content"></div>
                <div class="poetry_translate">译文</div>
                <div class="poetry_translate_content"></div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}

    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

    <script type="text/javascript">
        function q(selector) {
            return document.querySelector(selector);
        }

        jinrishici.load(function(result) {
            var data = result.data;
            q('.poetry_title').innerHTML = data.origin.title;
            q('.poetry_author').innerHTML = '—— ' + data.origin.dynasty + '·' + data.origin.author;
            q('.poetry_content').innerHTML = data.origin.content.map(c => '<p>' + c + '</p>').join('');

            if(data.origin.translate) {
                var t = q('.poetry_translate');
                var tc = q('.poetry_translate_content');
                tc.innerHTML = data.origin.translate;
                t.style.display = 'block';
                tc.style.display = 'block';
            }

            q('.poetry_container').style.display = 'block';
        });
    </script>

</body>

</html>
